<div class="container">
  <h2>Cadastro do Atleta</h2>

  <form [formGroup]="formGroupAtleta">
    <div class="row mb-3 mt-3">
      <div class="col-sm-4">
        <label for="codigo" class="col-sm-2 col-form-label">Código: </label>
        <div class="col-sm-10">
          <input id="codigo" type="text" class="form-control" formControlName="id">
        </div>
      </div>
      <div class="col-sm-4">
        <label for="name" class="col-sm-2 col-form-label">Nome: </label>
        <div class="col-sm-10">
          <input id="name" type="text" class="form-control" formControlName="name">
        </div>
      </div>
    </div>

    <div class="row mb-3 mt-3">
      <div class="col-sm-4">
      <label for="selectCategory" class="col-sm-2 col-form-label">Categoria:</label>

        <select class="form-select" aria-label="Selecione uma categoria" name="categoria" id="selectCategory"
          formControlName="categoria" [compareWith]="selectedCategory">
          <option *ngFor="let cat of categorias" [ngValue]="cat">
            {{cat.nome}}
          </option>
        </select>
        <div *ngIf="formGroupAtleta.invalid">
          <small *ngIf="pfgCategoria?.errors?.['required']" class="form-text text-danger">*Categoria é requirida!</small>
        </div>
      </div>
      <div class="col-sm-4">
        <label for="peso" class="col-sm-2 col-form-label">Peso: </label>
        <div class="col-sm-10">
          <input id="peso" type="text" class="form-control" formControlName="peso">
        </div>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-sm-4">
        <label for="cpf" class="col-sm-2 col-form-label">CPF: </label>
        <div class="col-sm-10">
          <input id="cpf" type="text" class="form-control" formControlName="cpf">
        </div>
      </div>

      <div class="col-sm-4">
        <label for="idade" class="col-sm-2 col-form-label">Idade: </label>
        <div class="col-sm-10">
          <input id="idade" type="text" class="form-control" formControlName="idade">
        </div>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary me-1" (click)="save()"  >
          Salvar</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar/Voltar</button>
      </div>
    </div>
  </form>
</div>
